<!doctype html>
<html lang="en" data-theme="cupcake" class="no-scrollbar">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatVerse</title>
</head>

<body data-current-user-id="<%= btoa(currentUser._id) %>" class="no-scrollbar">
    <%- include ('../public/svgs/icons.svg') %>
    <!-- body -->
    <div class="people_body absolute h-full w-full flex justify-center items-center">
        <!-- people main -->
        <div class="people_main absolute flex h-4/5 w-3/4 flex-row backdrop-blur-xl">
            <!-- Modal -->
            <div id="transparent-modal" class="hidden z-10 h-full w-full fixed top-0 left-0"></div>
            <!-- left bar - all people -->
            <div class="all_people absolute flex h-full w-[30%] rounded-l-xl flex-col border-r-[1px] border-[#071952] ">
                <!-- heading -->
                <div class="heading w-[100% - 2rem] m-4 flex h-16 items-center justify-between rounded-lg border-2 border-solid border-[#FADCD5] bg-[#FADCD5] shadow-md">
                    <!-- title -->
                    <div class="ml-4 text-xl font-bold max-lg:text-lg max-md:text-base max-sm:text-sm">
                        <h1>ChatVerse</h1>
                    </div>

                    <div>
                        <!-- add user btn -->
                        <div class="add-people-btn mr-2 flex cursor-pointer items-center justify-center rounded-lg max-md:hidden" id="add-people-btn">
                            <div>
                                <img src="/assets/add-user-7-svgrepo-com.svg" alt="">
                            </div>
                        </div>

                        <!-- add user popup -->
                        <div id="add-people-popup" class="popup top-19 absolute z-30 hidden flex-col flex h-96 w-64 rounded-lg border-2 border-[#1B0C1A] p-4 shadow-lg max-md:hidden">
                            <h1 class="pl-2 text-xl text-[#1B0C1A] font-bold">New Chat</h1>

                            <input type="search" name="popup-search" id="popup-search" placeholder="Search People" class="rounded-md mt-3 pl-2 ml-1 w-[13.25rem] h-9 border-2 border-solid border-[#1B0C1A] outline-none" />

                            <!-- all users -->
                            <div class="popup-people-all mt-2 flex h-[calc(100%-6rem)] grow flex-col no-scrollbar overflow-y-scroll">
                                <% peopleToAdd.forEach((element) => { %>
                                <div class=" popup-people" data-id="<%= btoa(element._id) %>" data-element="<%= btoa(JSON.stringify(element)) %>" onclick="addPeopleToChat(this)">
                                    <% if(element.profilePic) { %>
                                    <img src="<%=element.profilePic %>" alt="User" />
                                    <% } else { %>
                                    <img src="https://avatar.iran.liara.run/username?username=<%= element.name.replace(' ', '+') %>" alt="User" />
                                    <% } %>
                                    <h3>
                                        <%= element.name %>
                                    </h3>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- all messages title -->
                <div class="ml-6 flex items-center text-2xl font-bold max-lg:text-lg max-md:text-base max-sm:text-sm text-[#FADCD5]">
                    <h1>All Chats</h1>
                    <div class="from-user-img flex h-14 w-14 items-center justify-center rounded-full indicator ml-56">
                        <span class="indicator-item badge badge-success h-2 p-1 translate-x-[5%] translate-y-[10%] hidden status"></span>
                        <!-- Open the modal using ID.showModal() method -->
                        <img onclick="my_modal_1.showModal()" class="cursor-pointer" src="<%= currentUser.profilePic %>" alt="User" />
                        <dialog id="my_modal_1" class="modal no-scrollbar">
                            <div class="modal-box bg-[#E9E9E9] no-scrollbar">
                                <div class="change-details space-y-4 flex flex-col justify-center items-center">
                                    <div class="flex flex-col space-y-2">
                                        <label for="name" class="text-lg font-semibold text-[#4B2138]">Name</label>
                                        <input type="name" name="name" id="change-details-name" class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60 text-base" value="<%= currentUser.name %>" />
                                    </div>
                                    <div class="flex flex-col space-y-2">
                                        <label for="username" class="text-lg font-semibold text-[#4B2138]">Username</label>
                                        <input type="username" name="username" id="change-details-username" class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60 text-base" value="<%= currentUser.username %>" />
                                    </div>
                                    <div class="flex flex-col space-y-2">
                                        <label for="gender" class="text-lg font-semibold text-[#4B2138]">Gender</label>
                                        <select name="gender" id="change-details-gender" class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60 text-base">
                                            <% if (currentUser.gender === "male") { %>
                                            <option selected>Male</option>
                                            <% } else { %>
                                            <option>Male</option>
                                            <% } %>
                                            <% if (currentUser.gender === "female") { %>
                                            <option selected>Female</option>
                                            <% } else { %>
                                            <option>Female</option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="flex flex-col space-y-2 justify-center items-center">
                                        <label for="profilePic" class="text-lg font-semibold text-[#4B2138]">Profile Picture</label>
                                        <div class="avatar">
                                            <div class="w-24 rounded-full">
                                                <img id="change-details-profilePic" src="<%= currentUser.profilePic %>" />
                                            </div>
                                        </div>
                                        <button class="btn w-24 text-[#E9E9E9] bg-[#4B2138] hover:bg-[#E9E9E9] hover:text-[#4B2138] hover:border-1 hover:border-[#4B2138]" id="change-profilePic-btn">Change</button>
                                    </div>
                                </div>
                                <div class="modal-action">
                                    <form method="dialog">
                                        <!-- if there is a button in form, it will close the modal -->
                                        <button class="btn btn-outline hover:bg-[#4B2138] hover:text-[#E9E9E9] text-[#4B2138]">Done</button>
                                    </form>
                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>

                <!-- peoples -->
                <div id="people-parent" class="people-parent ml-6 mr-2 my-2 overflow-y-scroll no-scrollbar">
                    <% if (currentChatPeople) { %>
                    <% currentChatPeople.forEach((element)=> { %>
                    <div class="people-child group" data-element="<%= btoa(JSON.stringify(element)) %>" onclick="chatClicked(this)">
                        <div class="chats_img indicator">
                            <span class="indicator-item badge badge-success h-2 p-[0.4rem] translate-x-[5%] translate-y-[10%] hidden status"></span>
                            <% if(element.profilePic){ %>
                            <img src="<%= element.profilePic %>" alt="<%= element.name %>" />
                            <% } else{ %>
                            <img src="https://avatar.iran.liara.run/username?username=<%= element.name.replace(' ', '+') %>" alt="User" />
                            <% } %>
                        </div>

                        <div class="people_name_parent">
                            <h4 class="people_name">
                                <%= element.name %>
                            </h4>
                        </div>

                        <% const unreadMsg=unreadMesseges.find((msg)=> msg.senderId.toString() === element._id.toString()); %>
                        <% if (unreadMsg && unreadMsg.unreadCount !=0) { %>
                        <div class="unread-badge absolute right-8">
                            <div class="badge bg-[#6D3C52] text-white">
                                <%= unreadMsg.unreadCount %>
                            </div>
                        </div>
                        <% } else { %>
                        <div class="unread-badge absolute right-8 hidden">
                            <div class="badge bg-[#6D3C52] text-white">0</div>
                        </div>
                        <% } %>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>

            <!-- right bar - all chats -->
            <div class="all_chats_container absolute right-0 flex h-full w-[70%] rounded-r-xl flex-col ">
                <!-- chats head -->
                <div id="chats-head" class="chats-head absolute top-0 flex hidden h-16 w-[calc(100%-2rem)] flex-row items-center justify-between border-2 border-solid border-[#FADCD5] bg-[#fadcd5] mt-4 ml-4 rounded-md">
                    <!-- to user profile -->
                    <div class="to-user-profile ml-4 flex flex-row items-center justify-center space-x-3">
                        <div class="chats_img flex h-10 w-10 items-center justify-center rounded-full indicator">
                            <span class="indicator-item badge badge-success h-2 p-1 translate-x-[5%] translate-y-[10%] hidden status"></span>
                            <a href="#">
                                <img id="chat-head-img" src="/assets/logo.jpeg" alt="User" />
                            </a>
                        </div>
                        <div class="text-lg font-semibold text-[#1B0C1A]">
                            <a href="#">
                                <h1 id="chat-head-name"></h1>
                            </a>
                        </div>
                    </div>

                    <!-- alert -->
                    <div role="alert" class="alert absolute right-18  h-12 w-80 p-[0.7rem] hidden justify-center items-center font-semibold border-2 border-solid border-[#6D3C52] text-[#6D3C52]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class=" shrink-0 w-6 h-6" stroke="#6D3C52">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>Deleted Message For Both</span>
                    </div>

                    <!-- to user info -->
                    <div class="mr-4">
                        <!-- to user info btn -->
                        <div id="to-user-info-btn" class="to-user-info-btn z-30 h-9 w-9 cursor-pointer hover:scale-110 hover:duration-200">
                            <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                                <use xlink:href="#icon-info"></use>
                            </svg>
                        </div>

                        <!-- to user info popup -->
                        <div id="to-user-info-popup" class="absolute right-4 top-14 z-30 hidden h-fit w-64 flex-col rounded-lg popup border-2 border-black">
                            <!-- name & username -->
                            <div class="mt-1 flex h-18 cursor-pointer border-b-2 border-black pl-2">
                                <img src="/assets/logo.jpeg" alt="User" class="ml-2 mt-2 h-14 w-14 rounded-full p-1" />
                                <div class="ml-3 mt-4 flex flex-col">
                                    <h3 class="mb-[-4px] text-base font-bold">Emma</h3>
                                    <h4 class="mt-0 text-sm font-medium">@emma123</h4>
                                </div>
                            </div>

                            <div class="to-user-info-popup-options my-3 flex flex-col items-center justify-center space-y-1 *:p-1 *:*:font-semibold">
                                <!-- Block -->
                                <!-- <a href="#" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#FADCD5]">
                    
                  </a> -->
                                <div id="block-to-user" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:cursor-pointer hover:bg-[#6D3C52] hover:text-[#FADCD5]" onclick="blockUnblockUser(this)">
                                    <h3>Block</h3>
                                </div>

                                <!-- Report -->
                                <!-- <a href="#" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#FADCD5]">
                  <div id="report-to-user">
                    <h3>Report</h3>
                  </div>
                </a> -->

                                <!-- Delete Conversation -->
                                <div id="delete-chat-to-user" class="mx-2 flex h-10 w-60 items-center justify-center rounded-md hover:bg-[#6D3C52] hover:cursor-pointer hover:text-[#FADCD5]" onclick="deleteConversation()">
                                    <h3>Delete Conversation</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- all chats -->
                <div id="all-chats" class="absolute top-16 h-[calc(100%-9.5rem)] w-[calc(100%-2rem)] m-4">
                    <div id="chat-section" class="chat-section absolute flex h-full w-full flex-col hidden">
                        <!-- profile info of to-user -->
                        <div class="to-user-profile-sec absolute mt-6 flex h-40 w-full flex-col items-center justify-center py-2">
                            <!-- to-user-profile-sec-img -->
                            <a href="#">
                                <div class="to-user-profile-sec-img flex h-20 w-20 items-center justify-center">
                                    <img src="/assets/logo.jpeg" alt="To User" />
                                </div>
                            </a>

                            <!-- to-user-profile-sec-name -->
                            <a href="#">
                                <div class="to-user-profile-sec-name mt-2 flex flex-col items-center justify-center">
                                    <h1>Emma</h1>
                                    <h3>@emma123</h3>
                                </div>
                            </a>
                        </div>
                        <!-- messages -->
                        <div id="messages" class="messages">
                            <div class="message-container no-scrollbar overflow-y-scroll flex h-full w-full flex-col items-start pb-1">
                                <!-- <div class="day">
                  <div class="date">
                    <h1>23 Feb, 2024</h1>
                  </div>
                </div> -->
                                <!-- <div class="to-user-msg">
                  <div class="msg-container">
                    <p>Hi</p>
                    <span>11:11</span>
                  </div>
                  <div class="pl-2 delete-msg-btn hidden">
                    <button class="btn btn-circle btn-outline btn-secondary h-6 w-6 min-h-4 group">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 group-hover:stroke-[#9376E0]" fill="none" viewBox="0 0 24 24" stroke="#FADCD5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div> -->

                                <!-- <div class="from-user-msg">
                  <div class="pr-2 delete-msg-btn hidden">
                    <button class="btn btn-circle btn-outline btn-accent h-6 w-6 min-h-4 group">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 group-hover:stroke-[#FADCD5]" fill="none" viewBox="0 0 24 24" stroke="#9376E0">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                  <div class="msg-container">
                    <p>Hi</p>
                    <span>11:11</span>
                  </div> 
                </div>  -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- chats end -->
                <div id="chats-end" class="absolute bottom-0 flex hidden h-16 w-[calc(100%-2rem)] flex-row items-center justify-between shadow-2xl border-2 border-solid border-[#FADCD5] bg-[#fadcd5] my-2 ml-4 rounded-md p-2 *:mx-1">
                    <!-- emoji -->
                    <div id="emoji-btn" class="cursor-pointer max-sm:hidden">
                        <div id="emoji-popup-btn" class="emoji-popup-btn flex h-8 w-8 items-center justify-center hover:scale-110 hover:duration-200">
                            <img src="/assets/smile.png" alt="Emoji" />
                        </div>

                        <div id="emoji-popup" class="popup absolute bottom-16 left-0 hidden h-80 w-[24rem] rounded-lg border-1 ml-1 mb-1 border-[#FADCD5] p-3 shadow-lg z-50">
                            <div class="p-2 text-xl font-bold">
                                <h1>Emoji</h1>
                            </div>

                            <emoji-picker class="light"></emoji-picker>
                        </div>
                    </div>

                    <!-- message input area -->
                    <div class="flex w-[93%] items-center justify-center">
                        <textarea id="msg-input" cols="30" rows="10" placeholder="Type a message..." type="text" class="h-10 w-full resize-none flex-wrap rounded-md p-2 outline-none"></textarea>
                    </div>

                    <!-- send button -->
                    <div id="send-btn">
                        <div class="flex h-8 w-8 cursor-pointer items-start justify-center rounded-full mt-1 mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" x="0" y="0" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512 512" xml:space="preserve" class="hover:scale-110 hover:duration-200 icon">
                                <use xlink:href="#icon-send"></use>
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="chats-end-block" class="absolute bottom-0 flex hidden h-16 w-full flex-row items-center justify-center shadow-2xl bg-[#fadcd5] p-2 *:mx-1">
                    <div class="block-status flex items-center justify-center font-semibold text-[#1B0C1A]">
                        <span>You conversation is blocked</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
<script src="/socket.io/socket.io.js"></script>

</html>